<!DOCTYPE html>
<html lang="en">

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
 
     <!-- Site Metas -->
    <title>StyleBarber - Bootstrap 4 Responsive HTML5 Template</title>  
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="/stylesheets/images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/stylesheets/images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/stylesheets/css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet"  href='/stylesheets/style.css'>
     <link rel="stylesheet"  href='/stylesheets/style1.css'>
    <!-- ALL VERSION CSS -->
    <link rel="stylesheet" href="/stylesheets/css/versions.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/stylesheets/css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/stylesheets/css/custom.css">
    
        
    <style type="text/css">
    
    input[type=text] {
    width: 100%;
    padding: 2px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
	background-color:#212121;
    border-bottom: 2px solid #0099FF;
	font-size:12px;
	font-family:"Courier New", Courier, monospace;
	color:#0066FF;
}
input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
	background-color:#FFFFFF;
    border-bottom: 2px solid #0099FF;
	font-size:12px;
	font-family:"Courier New", Courier, monospace;
	color:#0066FF;
}

    </style>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body class="barber_version">

    <!-- LOADER -->
    <div id="preloader">
        <div class="cube-wrapper">
		  <div class="cube-folding">
			<span class="leaf1"></span>
			<span class="leaf2"></span>
			<span class="leaf3"></span>
			<span class="leaf4"></span>
		  </div>
		  <div class="mus">
			<img src="/stylesheets/images/lode-img.png" alt="" />
		  </div>
		  <span class="loading" data-name="Loading">Unisex-saloon-contract-service Loading</span>
		</div>
    </div><!-- end loader -->
    <!-- END LOADER -->

    <!-- Start header -->
	<header class="top-navbar">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container">
				<a class="navbar-brand" href="index.html">
					<img src="/stylesheets/images/add.jpg" alt="" />
				</a>
				<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbars-rs-food" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
					<span class="icon-bar top-bar"></span>
					<span class="icon-bar middle-bar"></span>
					<span class="icon-bar bottom-bar"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbars-rs-food">
					<ul class="navbar-nav ml-auto">
								<div class="mus">
		                        	<img src="/stylesheets/images/pas.jpg" alt="" />
		                       </div>
                            </li>
							</div>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<!-- End header -->
    <br><br><br>
    <div class="container">
 
  <p> This information is classify and should not be reveal to the third party
  failure to do so might lead to compromising the company effort or the integrity
  of information given by the client is not guarantee. This page should be seen my the administration (ADMIN) ONLY </p>
  <table class="table" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; border-bottom-color: lightcoral; font-size: 11px; color:#0099FF; border-color: lightpink; padding: 10px; background-color:snow;">
    <thead>
      <tr>
        <th>Id</th>
         <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Date</th>
        <th>Duration</th>
        <th>Comment</th>
      </tr>
       <% books.forEach(function(item) { %>
    </thead>
    <tbody>
      <tr>
         <td><%= item.id%></td>
         <td><%= item.firstname%></td>
         <td><%= item.lastname%></td>
         <td><%= item.email%></td>
         <td><%= item.phone%></td>
         <td><%= item.date%></td>
         <td><%= item.lenght%></td>
         <td><%= item.comment%></td>
       <td>
       <a href="/delete2?id=<%= item.id %>" onClick="return confirm('Are you sure')">Delete</a>

       <a href="/edit2?id=<%= item.id %>">Update</a>

     </td>
  </tr>
  <% });  %>    
    </tbody>
  </table>
</div>


		

		<div class="map-box">
			<div class="container-fluid">
				<div id="map"></div>
			</div><!-- end container -->
		</div><!-- end section -->

		<div class="copyrights">
			<div class="container">
				<div class="footer-distributed">
					<div class="footer-left">
						<p class="footer-links">
							<a href="#">Home</a>
							<a href="#">Blog</a>
							<a href="#">Pricing</a>
							<a href="#">About</a>
							<a href="#">Faq</a>
							<a href="#">Contact</a>
						</p>
						<p class="footer-company-name">All Rights Reserved. &copy; 2020 <a href="#">Unisex-saloon-contract-service</a> Design By : <a href="https://html.design/">Pinacle Software</a></p>
					</div>
				</div>
			</div><!-- end container -->
		</div><!-- end copyrights -->
	</div>
    

    <a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

    <!-- ALL JS FILES -->
    <script src="/stylesheets/js/all.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu5nZKbeK-WHQ70oqOWo-_4VmwOwKP9YQ"></script>
	<script src="/stylesheets/js/map.js"></script>	
    <!-- ALL PLUGINS -->
    <script src="/stylesheets/js/custom.js"></script>
</body>
</html>